<h2> Employee Home </h2>

<%= link_to "Submit Hours", submit_hours_path %>
<br>
<%= link_to "Hours Reports", hours_reports_path %>
<br>
<%= link_to "Submit Expenses", expense_reports_path %>
<br>
<%= link_to "Directory", directorys_path %>
